
@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>
<table class="table">
    <tr>
        <th>Output Directory</th>
        <th>AAAAAAAAAAAAAAAA</th>
    </tr>
    <tr>
        <th>Source Name</th>
        <th>AAAAAAAAAAAAAAAA</th>
    </tr>
    <tr>
        <th>Log Name</th>
        <th>AAAAAAAAAAAAAAAA</th>
    </tr>
    <tr>
        <th>Thumbnail Size</th>
        <th>AAAAAAAAAAAAAAAA</th>
    </tr>
</table>

<br /><h3>Handelers</h3>
      <table class="table">
          <tr>
              <th>
                <form action="HandelerCloseConfirm">
                    <input type="submit" value="HANDELER 1" />
                </form>
              </th>
          </tr>
          <tr>
              <th><base href="~/Views/First/HandelerCloseConfirm.cshtml">HANDELER 2</base></th>
          </tr>
          <tr>
              <th><a href="~/Views/First/HandelerCloseConfirm.cshtml">HANDELER 3</a></th>
          </tr>
          <tr>
              <th>@Html.ActionLink("HANDELER 4", "HandelerCloseConfirm", "First")</th>
          </tr>
      </table>