@model String
@{
    ViewBag.Title = "HandelerCloseConfirm";
}

<h2>HandelerCloseConfirm</h2>
This is the HandelerCloseConfirm page<br />
use it to confirm things<br />
                        <h1>
                            @Model
                        </h1>
