

@{
    ViewBag.Title = "HandelerCloseConfirm";
}

<h2>Handeler Close Confirmation page</h2>
Remove the following handeler?
<p id="urlParse"></p>

@{ 
    var h = Url.ToString();

}

@Html.ActionLink("OK", "RemoveHandeler", "First", new { handeler = h }, null)



<script>
    $(document).ready(function () {
        var h = document.URL.split("?")[1];
        $("#urlParse").text(h);

        $(".link").href.replace("replaceMe", GetHandeler());
        //$(".link").attr('id') = GetHandeler();
    })
    function GetHandeler() {
        return document.URL.split("?")[1];
    }



</script>