@model IEnumerable<String>

@{
    ViewBag.Title = "HandelerCloseConfirm";
}

<h2>Handeler Close Confirmation page</h2>
Remove the handeler
@Model.First()
?
<br />

<a href="@Url.Action("RemoveHandeler", "First", new { handeler = @Model.First() })"
   class="btn btn-default" role="button" onclick="DisableButtons()" id="OkButton">
    OK
</a>
<a href="@Url.Action("Config")" class="btn btn-default" role="button" onclick="DisableButtons()" id="CancelButton">
    Cancel
</a>

<script>
    $(document).ready(function () {

    })
    function DisableButtons() {
        document.getElementById("OkButton").disabled = true;
        document.getElementById("CancelButton").disabled = true;
    }
</script>