
@{
    ViewBag.Title = "MainPage";
}

<h2>Main Page</h2>
<h4>
    <br />Image Service status: I DON'T FUCKING KNOW HOW TO GET THIS SHIT
    <br /><br />Image count: I DON'T FUCKING KNOW HOW TO GET THIS SHIT
</h4>
<br /><br />
<table style="width:100%">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>ID</th>
        <th>Recitation Group</th>
    </tr>
    <tr>
        <td>Avihai</td>
        <td>Didi</td>
        <td>313137846</td>
        <td>05</td>
    </tr>
    <tr>
        <td>David</td>
        <td>Geda</td>
        <td>313237182</td>
        <td>05</td>
    </tr>
</table>